DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ENV=

DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SECURE_PROXY_SSL_HEADER=True

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_SCHEMA=web_ai
DB_CONN_MAX_AGE=600











client_id =
client_secret = 
tenant_id = 