# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# VSCode
.vscode/

# Pytest
.coverage

# Byte-compiled
*.egg-info/
.eggs/

# macOS
.DS_Store

# Windows
Thumbs.db

# pipenv
Pipfile.lock

# mypy
.mypy_cache/

# node
node_modules/

# JetBrains
.idea/
